{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Tech</title>
</head>

<body>

    <header>

    </header>
    <main>
        <h1 class="title">Autenticação com OAuth 2.0</h1>
        <div class="main_content">
            <div>

f
                <img src="{% static 'assets/computador.png'%}" alt="Uma pessoa feliz no computador " class="image_main">
             
                    <a href="http://localhost:8000/accounts/github/login/?process=login&next=%2Fmembers">
                        <img src="{% static 'assets/GitHub-Logo.png' %}"
                            alt="Icone para realizar a autenticação com GitHub" class="logogithub">
                    </a>
               


            </div>
        </div>
    </main>


</body>

</html>